*__pycache__*
quality_grid_stats/data/*
quality_grid_stats/build/*
spatial_analysis/build/*
indicators_map/data/*
crosscheck_data_sources/cache/*
data_out/*

.idea/

# Virtual environment
venv/
.venv/
*/venv/
*/.venv/
