*__pycache__*
quality_grid_stats/data/*
spatial_analysis/data_kontur/*
indicators_map/data/*
crosscheck_data_sources/cache/*
data_out/*
databox/*
databox
!databox/README.md
*gitignore-*


.idea/

# Virtual environment
venv/
.venv/
*/venv/
*/.venv/
